@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
.nav-link{
	margin-right: 15px;
	color:#2f5d62;
	letter-spacing: 0.5px;
	transition: 0.5s;
}
.ml-auto{
    margin-left: auto !important;
}
.navbar-brand{
    margin-left: 195px;
	color:#364547;
	letter-spacing: 0.5px;
}
h2{
    margin-top: 150px;
	color: #364547;
	letter-spacing: 0.5px;
	font-family: raleway;
}